
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.auth-avatar-icon {
    font-size: 5rem !important;
    width: 80% !important;   
    color: #28333E !important;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 10px 20px 0px;
    min-width: 30vw;
    box-sizing: border-box;
}


.auth-form-label {
    color: #F4F4F4;
    margin-bottom: 6px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
    align-self: start;
    
}


.auth-form-register-field {
  margin-bottom: 24px !important;
  width: 100%;
  
  display: flex;
  flex-direction: column !important;
  
}

.auth-form-register-field.password {
  margin-bottom: -5px !important;
}

.auth-form-register-input {
  
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  color: black;
  overflow: hidden;
  transition: backgrond-color 0.3s ease !important;
}

.auth-form-register-input:focus {
  border: 1px solid #B6DEFA;
} 

.auth-form-register-input:hover{
  background-color: #d4d0d0;
}

.auth-error-register-message {
  color: rgb(212, 44, 44);
  font-size: 12px;
  margin-top: 5px;
  max-width: 80%;
  align-self: start;
  
}

.auth-error-register-message.password{
  margin-top: -18px;
  margin-bottom: 15px;
}



.password-field-icon-container-register:hover {
  color: #00000083;
  background-color: #7473739c !important;
}

.password-field-icon-register {
  
  height: 20px !important;
  cursor: pointer;
}

.password-field-icon-container-register {
  position:relative !important;
  height: 24px !important;
  width: 24px !important;
  left: 320px;
  transition: barckground-color 0.3s ease color 0.3s ease;
  border-radius: 50%;
  transform: translateY(-125%) !important;
  color: #888;
}

.password-field-icon-register:hover {
  color: #000;
}


.auth-button {
  background-color: #B6DEFA !important;
  color: #28333E !important;
  text-transform: initial !important;
  margin: 20px 0 10px 0 !important;  
  padding: 10px 0 !important;
  transition: background-color 0.3s ease;
  
}

.auth-button:hover {
  background-color: #6b8caf !important;
}


.auth-links-register {
  
  margin-top: 10px !important;
  color: #B6DEFA !important;
  text-align: center;
  width: 100%;
  text-decoration: none !important;
}

.auth-links-register:hover {
  text-decoration: underline !important;
}

  





  
  
  
  
  